body
{
	font-size:16px;
	font-family:Arial;
}

#mainContainer
{
	overflow:hidden;
	height:600px;
	width:350px;
}

.diceContainer
{
	width:30px;
	height:130px;
	margin:20px 10px 20px 10px;
	display:inline-block;
	border-left:1px solid #99D9EA;
	border-right:1px solid #99D9EA;
}

.up
{
	display:inline-block;
	margin-bottom:20px;
	background-image:url("../images/arrow_up.png");
	background-repeat:no-repeat;
	height:30px;
	width:30px;
}

.down
{
	display:inline-block;
	margin-top:20px;
	background-image:url("../images/arrow_down.png");
	background-repeat:no-repeat;
	height:30px;
	width:30px;
}

#dicePoolContainer
{
	margin-left:10px;
}

#dicePool
{
	width:306px;
	min-height:30px;
	border:1px solid black;
	margin-bottom:20px;
}

#rollButton
{
	display:inline-block;
	width:150px;
	height:50px;
	border:1px solid black; /* remove this and make an image */
}

#resetButton
{
	display:inline-block;
	width:150px;
	height:50px;
	border:1px solid black; /* remove this and make an image */
}

#resultsContainer
{
	margin-top:10px;
	margin-left:10px;
	display:none;
}

.resultsHeader
{
	font-size:24px;
	font-weight:bold;
}

.marginRolled
{
	margin-left:15px;
}

.numberRolled
{
	margin-right:5px;
}

#successLabel, #advantageLabel
{
	color:Green;
}

#failureLabel, #threatLabel
{
	color:Red;
}

.dice
{
	display:inline-block;
	background-repeat:no-repeat;
	height:30px;
	width:30px;
}

.abilityDice
{
	background-image:url("../images/dice/ability_silhouette.png");
}

.proficiencyDice
{
	background-image:url("../images/dice/proficiency_silhouette.png");
}

.boostDice
{
	background-image:url("../images/dice/boost_silhouette.png");
}

.difficultyDice
{
	background-image:url("../images/dice/difficulty_silhouette.png");
}

.challengeDice
{
	background-image:url("../images/dice/challenge_silhouette.png");
}

.setbackDice
{
	background-image:url("../images/dice/setback_silhouette.png");
}